.app-window {
    /* border:2px solid black; */

    position: absolute;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    user-select: none;
    background: var(--window-bg);
    color: var(--window-text);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 8px rgba(80, 80, 80, 0.736);
    border: 0.4px solid rgba(210, 205, 205, 0.622);
    z-index: 3;

    .dimension-se {
        display: block;
        /* border:1px green solid; */
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1rem;
        height: 1rem;
        cursor: se-resize;
        touch-action: none;
    }

    .dimension-sw {
        display: block;
        /* border:1px orangered solid; */
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        cursor: sw-resize;
        touch-action: none;
    }

    .dimension-nw {
        display: block;
        /* border:1px blue solid; */
        position: absolute;
        left: 0;
        top: 0;
        width: 1rem;
        height: 1rem;
        cursor: nw-resize;
        touch-action: none;
    }

    .dimension-ne {
        display: block;
        /* border:1px brown solid; */
        position: absolute;
        top: 0;
        right: 0;
        width: 0.4rem;
        height: 0.4rem;
        cursor: ne-resize;
        touch-action: none;
    }

    .dimension-e {
        display: block;
        /* background-color: blue; */
        position: absolute;
        top: 1rem;
        right: 0;
        width: 0.3rem;
        height: calc(100% - 2rem);
        cursor: e-resize;
        touch-action: none;
    }

    .dimension-w {
        display: block;
        /* background-color: red; */
        position: absolute;
        top: 1rem;
        left: 0;
        width: 1rem;
        height: calc(100% - 2rem);
        cursor: w-resize;
        touch-action: none;
    }

    .dimension-n {
        display: block;
        /* background-color: green; */
        position: absolute;
        top: 0;
        left: 1rem;
        height: 0.5rem;
        width: calc(100% - 2rem);
        cursor: n-resize;
        touch-action: none;
    }

    .dimension-s {
        display: block;
        /* background-color: yellow; */
        position: absolute;
        bottom: 0;
        left: 1rem;
        height: 1rem;
        width: calc(100% - 2rem);
        cursor: s-resize;
        touch-action: none;
    }


    .app-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 6px;

        .drag-window {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            align-items: center;
            gap: 6px;
            touch-action: none;

            .app-title-name {
                padding: 0px;
                margin: 0px;
            }
        }


        .window-buttons {
            display: flex;
            flex-direction: row;
            margin-right: 0.2rem;
            gap:4px;

            .window-button {
                border: none;
                background: rgb(195, 195, 195);
                border-radius: 50%;
                height: 1.5rem;
                width: 1.5rem;
            }
            .window-button:hover{
                font-weight: bolder;
                color:rgb(0, 0, 0);
            }

            .minimise {
                background-color: rgb(163, 163, 248);
                color: rgb(163, 163, 248);
            }

            .close {
                background-color:red; 
                color: red;
            }

            .maximise{
                background-color: rgb(234, 214, 37);
                color: rgb(234, 214, 37);
            }
        }
    }

    .app-body {
        flex: 1;
        min-height: 0;
        /* Critical: Prevents the body from stretching past the window if child content is huge */
        min-width: 0;

        /* Optional: Making the body a flex container often helps inner child components calculate their own 100% height for scrolling */
        display: flex;
        flex-direction: column;
    }

}

.grab {
    cursor: grab;
}

.grabing {
    cursor: grabbing;
}

.windowActive {
    z-index: 4;
}

.window-fullscreen-animate{
    border-radius: 0px;
    transition: transform 0.2s ease-in-out, 
    width 0.2s ease-in-out,  
    height 0.2s ease-in-out;
}